body {
  margin: 0;
  padding: 0;
  background-color: black;
}
* {
  box-sizing: border-box;
}
.App {
  width: 80%;
  margin: auto;
}
.heading {
  text-align: center;
  color: #e13690;
}
.Menu,
.Last,
.Quiz,
.Conditions {
  width: 500px;
  height: 500px;
  margin: 50px auto auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #e13690, #f97e83);
  padding: 10px;
  border-radius: 20px;
}
.Menu button,
.Last button {
  border: none;
  width: 80%;
  margin: 5px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options button:active {
  background-color: rgb(218, 213, 213);
}
.Quiz ul {
  list-style-type: none;
  color: white;
}
.Quiz li {
  padding: 10px;
  font-size: 20px;
}
.Conditions li {
  padding: 5px;
  font-size: 20px;
}
.terms {
  margin-left: 0;
}
.Conditions button {
  padding: 10px;
  background-color: rgb(193, 193, 247);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.ins {
  margin-right: auto;
  margin-left: 35px;
}
.form {
  width: 500px;
  height: 500px;
  margin: 50px auto auto;
  color: white;
  background-image: linear-gradient(to right, #e13690, #f97e83);
  padding: 10px;
  border-radius: 20px;
}
.form form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 15px;
}
.form label {
  font-size: 20px;
}
.form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  align-self: center;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(110, 107, 107);
}
.btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}
.btn button {
  border: none;
  width: 40%;
  margin-top: 5px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: rgb(56, 48, 48);
}
.timer {
  font-size: 25px;
  font-weight: bold;
}
.timer h2 {
  margin-bottom: 15px;
  margin-top: -20px;
  
}
.Last p{
  font-size: 20px;
}
@media screen and (max-width: 620px) {
  /* body{
    height: 150vh;
  } */
  .Menu {
    width: 100%;
    height: 250px;
    margin-top: 100px;
  }
  .form {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
  }
  .form form {
    padding: 15px;
    gap: 10px;
  }
  .form label {
    font-size: 18px;
  }
  .form input {
    padding: 10px;
    font-size: 16px;
  }
  .form button {
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    font-size: 18px;
  }
  .Conditions {
    width: 100%;
    height: 700px;
    margin-bottom: 60px;
  }
  .Conditions li {
    font-size: 18px;
  }
  .Quiz {
    width: 100%;
    height: 520px;
    justify-content: baseline;
    padding: 0;
    font-size: 14px;
    margin-bottom: 60px;
  }
  .options {
    width: 100%;
    align-items: center;
  }
  .Quiz li {
    padding: 10px;
    font-size: 18px;
  }
  .btn button {
    width: 40%;
    margin-top: 0;
    height: 45px;
  }
  .timer{
    font-size: 20px;
  }
  .timer h2{
    margin-top: -10px;
  }
  .Last{
    width: 100%;
    height: 300px;
    margin-top: 100px;
  }
  .Last p{
    font-size: 16px;
  }
  .Last h1{
    font-size: 1.8em;
  }
}
